@{ 
    ViewBag.Title = "Интернет магазин сотовых телефонов";
}

<div class="catalog-index">
    <h1><img src="~/images/lider-sale.jpg" alt="Лидеры продаж" /></h1>

    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=1">Alcatel OT890D</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=1"><img src="http://localhost/ishop/userfiles/product_img/baseimg/1.png" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>5000.65.</span></p>
        <a href="?view=addtocart&amp;goods_id=1"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=10">Sony Xperia P LT22i Silver</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=10"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>21000.</span></p>
        <a href="?view=addtocart&amp;goods_id=10"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=11">Nokia Lumia 610 Black</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=11"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>6000.</span></p>
        <a href="?view=addtocart&amp;goods_id=11"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=12">Nokia Lumia 710 Black</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=12"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>15650.</span></p>
        <a href="?view=addtocart&amp;goods_id=12"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=13">Nokia C2-06 Lilac</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=13"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>9400.</span></p>
        <a href="?view=addtocart&amp;goods_id=13"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=16">Nokia Lumia 900 White</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=16"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>16000.</span></p>
        <a href="?view=addtocart&amp;goods_id=16"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=18">Nokia E6-00 Black</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=18"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>18000.</span></p>
        <a href="?view=addtocart&amp;goods_id=18"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=19">Nokia Asha 306 Dark Grey</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=19"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>19000.</span></p>
        <a href="?view=addtocart&amp;goods_id=19"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=25">Nokia 101</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=25"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>25000.</span></p>
        <a href="?view=addtocart&amp;goods_id=25"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=26">Nokia X2-03 dark silver</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=26"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>26000.</span></p>
        <a href="?view=addtocart&amp;goods_id=26"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=33">Nokia X2-02 ocean blue</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=33"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>33000.</span></p>
        <a href="?view=addtocart&amp;goods_id=33"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=35">Nokia 1280</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=35"><img src="http://localhost/ishop/userfiles/product_img/baseimg/phone-index.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>35000.</span></p>
        <a href="?view=addtocart&amp;goods_id=35"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=39">Новый товар</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=39"><img src="http://localhost/ishop/userfiles/product_img/baseimg/no_image.jpg" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>250.14.</span></p>
        <a href="?view=addtocart&amp;goods_id=39"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>
    <div class="product-index">
        <h2><a href="?view=product&amp;goods_id=48">Samsung New</a></h2>
        <div class="product-table-img">
            <a href="?view=product&amp;goods_id=48"><img src="http://localhost/ishop/userfiles/product_img/baseimg/48.png" alt="" /></a>
        </div> <!-- .product-table-img -->
        <p>Цена :  <span>8777.33.</span></p>
        <a href="?view=addtocart&amp;goods_id=48"><img class="addtocard-index" src="~/images/addcard-index.jpg" alt="Добавить в корзину" /></a>
    </div>

</div>