<h2>Список страниц</h2>
<a href="?view=add_page"><img class="add_some" src="templates/images/add_page.jpg" alt="добавить страницу" /></a>
<table id="sort" class="tabl sort" cellspacing="1">
    <tr class="no_sort">
        <th class="number">№</th>
        <th class="str_name">Название страницы</th>
        <th class="str_sort">Сортировка</th>
        <th class="str_action">Действие</th>
    </tr>
    <tr id="1">
        <td class="position" style="width:25px">1</td>
        <td style="width:360px" class="name_page">О магазине</td>
        <td class="position" style="width:80px">1</td>
        <td style="width:160px"><a href="?view=edit_page&amp;page_id=1" class="edit">изменить</a>&nbsp; | &nbsp;<a href="?view=del_page&amp;page_id=1" class="del">удалить</a></td>
    </tr>
    <tr id="2">
        <td class="position" style="width:25px">2</td>
        <td style="width:360px" class="name_page">Оплата и доставка</td>
        <td class="position" style="width:80px">2</td>
        <td style="width:160px"><a href="?view=edit_page&amp;page_id=2" class="edit">изменить</a>&nbsp; | &nbsp;<a href="?view=del_page&amp;page_id=2" class="del">удалить</a></td>
    </tr>
    <tr id="3">
        <td class="position" style="width:25px">3</td>
        <td style="width:360px" class="name_page">Покупка в кредит</td>
        <td class="position" style="width:80px">3</td>
        <td style="width:160px"><a href="?view=edit_page&amp;page_id=3" class="edit">изменить</a>&nbsp; | &nbsp;<a href="?view=del_page&amp;page_id=3" class="del">удалить</a></td>
    </tr>
    <tr id="4">
        <td class="position" style="width:25px">4</td>
        <td style="width:360px" class="name_page">Контакты</td>
        <td class="position" style="width:80px">4</td>
        <td style="width:160px"><a href="?view=edit_page&amp;page_id=4" class="edit">изменить</a>&nbsp; | &nbsp;<a href="?view=del_page&amp;page_id=4" class="del">удалить</a></td>
    </tr>

</table>
<a href="?view=add_page"><img class="add_some" src="templates/images/add_page.jpg" alt="добавить страницу" /></a>