<ul class="menu">
    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
    <li><a href="?view=page&amp;page_id=1">О магазине</a></li>
    <li><a href="?view=page&amp;page_id=2">Оплата и доставка</a></li>
    <li><a href="?view=page&amp;page_id=3">Покупка в кредит</a></li>
    <li><a href="?view=page&amp;page_id=4">Контакты</a></li>
</ul>